/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url('https://media.licdn.com/dms/image/D4D12AQEwjiIh5bMaNQ/article-cover_image-shrink_600_2000/0/1695267350942?e=2147483647&v=beta&t=gFfxDrJeRa1HKD4gxSfzlRrpxYkt1R0uI9hnlJQiJLg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity for better readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    text-align: right; /* Align text to the right */
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #333;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styling (optional) */
/* Add more specific styles for elements as needed, based on the image */
